<div class = "container">
<form action="/write" method ="POST">
  <div class="form-group">
      <textarea name ="content" class = "form-control" rows = "7" cols = "120"></textarea><br>
  </div>
  <button type="submit" class="btn btn-default">
      <span class="glyphicon glyphicon-send" aria-hidden="true"> 익명질문남기기</span>
    </button>
</form>
</div>